<!doctype html>
<html lang="en" ng-app="trailmapApp">
<head>
    <meta charset="utf-8">
    <title>TrailMap</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="TrailmapCtrl">

<div layout-align="column" class="col-md-4">
    <div style="padding: 16px;">
        <section class="demo-container md-whiteframe-z1">
            <md-toolbar class="md-primary" style="padding:16px;">
                <h2 class="md-flex">Beta</h2>
            </md-toolbar>

            <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Trail System</label>
                    <md-select ng-model="activeTrailsystem">
                        <md-option ng-repeat="(ts, data) in trailsystems" value="{{ts}}">
                            {{ts}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Trailhead</label>
                    <md-select ng-model="startPoint">
                        <md-option ng-repeat="(th_name, th_data) in trailsystems[activeTrailsystem].vertices.trailhead"
                                   value="{{th_name}}">
                            {{th_name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Destination</label>
                    <md-select ng-model="destinationPoint">
                        <md-option ng-repeat="(d_name, d_data) in trailsystems[activeTrailsystem].vertices.landmark"
                                   value="{{d_name}}">
                            {{d_name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout="row" layout-align="center">
                    <md-button class="md-raised md-primary"
                               ng-click="navigate()">Navigate
                    </md-button>
                </div>
            </md-content>
        </section>
    </div>

    <div style="padding: 16px;">
        <section class="demo-container md-whiteframe-z1">
            <md-toolbar class="md-primary" style="padding:16px;">
                <h2 class="md-flex">Route</h2>
            </md-toolbar>

            <md-content>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="point_data in route">
                        <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>-->

                        <div class="md-list-item-text" layout="column">
                            <h3>{{ point_data.point }}</h3>
                            <h4>landmark</h4>

                            <p>{{ point_data.distance }} mi</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>

            <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                <pre>{{route | json}}</pre>
            </md-content>
        </section>
    </div>
</div>


<div class="col-md-8" style="padding: 16px;">
    <section class="demo-container md-whiteframe-z1">
        <md-toolbar class="md-primary" style="padding:16px;">
            <h2 class="md-flex">Trails</h2>
        </md-toolbar>

        <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="svg">
                            <md-content class="md-padding">
                                <img ng-src="api/{{activeTrailsystem}}/svg"
                                     style="max-width: 100%; max-height: 100%;"/>
                            </md-content>
                        </md-tab>
                        <md-tab label="json">
                            <md-content class="md-padding">
                                <pre>{{trailsystems[activeTrailsystem].vertices | json}}</pre>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-content>
    </section>
</div>

</body>
</html>