<!DOCTYPE html>
<html lang="en" ng-app="trailmapApp">
<head>
    <meta charset="UTF-8">
    <title>Trailmap</title>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="TrailmapCtrl">

<div class="container">
    <div class="row" ng-repeat="(name, data) in trailsystems">
        <h2>{{name}}</h2>

        <div class="row">
            <div class="col-sm-2">
                <h3>Trailheads</h3>

                <div ng-repeat="(trailhead, trailhead_data) in data.vertices.trailhead">
                    {{trailhead}}
                </div>
            </div>

            <div class="col-sm-2">
                <h3>Landmarks</h3>

                <div ng-repeat="(landmark, landmark_data) in data.vertices.landmark">
                    {{landmark}}
                </div>
            </div>

            <div class="col-sm-8">
                <img ng-src="api/{{name}}/svg" width="600"/>
            </div>
        </div>
        <!--{{data | json}}-->
    </div>
</div>


<pre>{{trailsystems | json}}</pre>

</body>
</html>